        body {
            font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
            color: #000;
            background-color: #fff;
            margin: 40px;
        }

        header h1 {
            font-size: 56px;
            margin: 0;
            font-weight: normal;
        }
        header h2 {
            font-size: 24px;
            margin: 0 0 8px 0;
            font-weight: normal;
        }


        .contacts {
            margin: 0 0 16px 0;
        }

        section h3 {
            font-size: 24px;
            margin: 0 0 8px 0;
            font-weight: normal;
        }

        section {
            /*line-height: 0;*/
            margin-top: 26px;
            margin-bottom: 26px;
        }

        article {
            line-height: 24px;
            margin: 24px 0 0px 0;
        }

        article p {
            margin-top: 10px;
            margin-bottom: 0px;
            padding: 0;
        }

        article ul {
            margin: 0;
        }

        article a {
            text-decoration: none;
            color: #000;
        }

        article a:hover {
            text-decoration: underline;
        }

        article h4 {
            font-size: 16px;
            margin: 16px 0 0px 0;
            padding: 0;
        }

        article h5 {
            margin-top: 8pt;
            margin-bottom: 0;
        }

        article .period {
            margin: 0 0 8px 0;
        }

        article .position {

        }

        article .duties {

        }

        header .contacts {
            line-height: 16pt;
        }
